@mixin width-and-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex-container($direction: column, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;

    @if $gap > 0 {
        gap: $gap;
    }
}

@mixin center-respect-to-viewport {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}
