@import '../../sass/mixins';
@import '../../sass/variables';

.comment-adder {
    @include width-and-height(58rem, 14rem);
    @include flex-container(row, flex-start, flex-start, 1.2rem);
    background-color: $white;
    padding: 2rem;
    border-radius: 0.7rem;

    img {
        @include width-and-height(3.2rem, 3.2rem);
    }

    textarea {
        flex-grow: 1;
        height: 100%;
        padding: 1.6rem;
        resize: none;
        font-family: 'Rubik', sans-serif;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        border: 1px solid $light-gray;
        color: $grayish-blue;

        &:focus {
            outline: none !important;
            border-color: $grayish-blue;
        }
    }

    button {
        width: 8rem;
        height: 3.2rem;
        border: unset;
        background-color: $moderate-blue;
        color: $white;
        border-radius: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}
