@import "../../../../../sass/mixins";
@import "../../../../../sass/variables";

.call-to-actions {
    @include flex-container(row, center, center);
    color: $moderate-blue;

    p {
        font-weight: 500;
    }

    &__reply-cta {
        @include flex-container(row, center, center, 0.8rem);
        transition: all 300ms;

        &:hover {
            cursor: pointer;
            color: $light-grayish-blue;
        }
    }

    &__personal-ctas {
        @include flex-container(row, center, center, 2.4rem);

        .personal-ctas__cta {
            @include flex-container(row, center, center, 0.8rem);
            transition: all 300ms;

            &:first-child {
                color: $soft-red;

                &:hover {
                    color: $pale-red;
                }
            }

            &:hover {
                cursor: pointer;
                color: $light-grayish-blue;
            }
        }
    }
}
