@import '../../../../../sass/mixins';
@import '../../../../../sass/variables';

.call-to-actions {
    @include flex-container(row, center, center);

    p {
        font-weight: 500;
        color: $moderate-blue;
    }

    &__reply-cta {
        @include flex-container(row, center, center, 0.8rem);
        transition: all 300ms;

        &:hover {
            cursor: pointer;
            filter: opacity(0.7);
        }
    }

    &__personal-ctas {
        @include flex-container(row, center, center, 2.4rem);

        .personal-ctas__cta {
            @include flex-container(row, center, center, 0.8rem);
            transition: all 300ms;

            &:first-child {
                p {
                    color: $soft-red;
                }
            }

            &:hover {
                cursor: pointer;
                filter: opacity(0.7);
            }
        }
    }
}
