@import "./sass/variables";
@import "./sass//mixins";

.interactive-comment-section {
    @include flex-container(column, center, center, 1.6rem);
    width: 100dvw;
    min-height: 100dvh;
    background-color: $very-light-gray;
    padding: 3.2rem 0rem;
}
